body {
  background-color: lightblue;
}


h1 {
  color: navy;
  font-size: 36px;
}

p {
  color: darkslategray;
}

a {
  color: crimson;
  text-decoration: underline;
}
.center {
  text-align: center;
}
